[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
scikit-learn = "*"
web3 = "*"
py-solc-x = "*"
keras = "*"
tensorflow = "*"
python-dotenv = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
