{% extends 'base_layout.html' %} {% load accounts_extras %} {% block content %}
        <article class="site-form">
            <h1>Login</h1>
            <p>
                Access your account to view past predictions and manage
                settings.
            </p>
            {% if messages %}
                <ul>
                {% for m in messages %}
                    <li>{{ m }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <p>{{ form.username.label_tag }} {{ form.username }}</p>
                <p>{{ form.password.label_tag }} {{ form.password }}</p>
                <button type="submit">Log in</button>
            </form>
            <span
                >Don't have an account?
                <a href="{% url 'signup' %}">Sign Up</a></span
            >
        </article>
{% endblock %}
