{% extends 'base_layout.html' %} {% load accounts_extras %} {% block content %}
        <article>
            <h2>User Profile</h2>
            <div class="profile">
                <h3>Account Information</h3>
                <h1>Welcome, {{ request.user.username }}</h1>
                <p><b>Email:</b> {{ user.email }}</p>
                <p>User type: {{ request.user.profile.is_doctor|yesno:"Doctor,Normal user" }}</p>
            </div>

            <div class="retrieve">
                <h3>Retrieve Past Predictions</h3>
                <p>
                    Enter a Patient ID to view the prediction results associated
                    with it.
                </p>
                <form action="{% url 'retrieve' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <label>Patient ID</label>
                        <input
                            type="text"
                            name="patient_id"
                            placeholder="e.g., 8400000"
                        />
                    </div>
                    <input type="submit" name="prediction" value="Retrieve" />
                </form>
            </div>
        </article>
{% endblock %}>
