{% extends 'base_layout.html' %} {% load accounts_extras %} {% block content %}
        <article class="site-form">
            <h1>Sign Up</h1>
            <p>Create your account to get started with our prediction tool.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <p>{{ form.username.label_tag }} {{ form.username }}</p>
                <p>{{ form.email.label_tag }} {{ form.email }}</p>
                <p>{{ form.password1.label_tag }} {{ form.password1 }}</p>
                <p>{{ form.password2.label_tag }} {{ form.password2 }}</p>
                <p>{{ form.is_doctor }} {{ form.is_doctor.label_tag }}</p>
                <button type="submit">Sign up</button>
            </form>
            <span
                >Already have an account?
                <a href="{% url 'login' %}">Log In</a></span
            >
        </article>
{% endblock %}
