{% extends 'base_layout.html' %} {% load accounts_extras %} {% block content %}
<article>
    <h1>Welcome to OncoNet</h1>
    <p>
        Our application utilizes Artificial Neural Networks (ANN) to help
        predict whether a breast mass is malignant or benign based on
        user-provided diagnostic features. This tool is designed to assist in
        early detection and provide valuable insights.
    </p>
    <p>
        Please note: This application is for informational purposes only and
        should not replace professional medical advice.
    </p>
    <div>
        <form action="{% url 'input' %}" method="post">
            {% csrf_token %}
            <input
                type="submit"
                name="prediction"
                value="Get Started with Prediction"
            />
        </form>
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="signup" value="Create an Account" />
        </form>
    </div>
</article>

{% endblock %}
