<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>OncoNet</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <header>
            <div>
                <svg
                    width="200"
                    height="50"
                    viewBox="0 0 200 50"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <title>OncoNet Logo</title>

                    <defs>
                        <linearGradient
                            id="gradientOnco"
                            x1="0%"
                            y1="0%"
                            x2="100%"
                            y2="0%"
                        >
                            <stop
                                offset="0%"
                                style="stop-color: #3b82f6; stop-opacity: 1"
                            />
                            <stop
                                offset="100%"
                                style="stop-color: #10b981; stop-opacity: 1"
                            />
                        </linearGradient>
                    </defs>
                    <text
                        x="10"
                        y="35"
                        font-family="Inter, sans-serif"
                        font-weight="800"
                        font-size="30"
                        fill="url(#gradientOnco)"
                    >
                        OncoNet
                    </text>

                    <circle cx="160" cy="20" r="4" fill="#3B82F6" />
                    <circle cx="180" cy="30" r="4" fill="#10B981" />
                    <circle cx="160" cy="40" r="4" fill="#3B82F6" />

                    <path
                        d="M160 20 L180 30 L160 40 L160 20 Z"
                        stroke="#10B981"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        fill="none"
                    />
                    <path
                        d="M160 20 Q170 10 180 30"
                        stroke="#3B82F6"
                        stroke-width="2"
                        stroke-linecap="round"
                        fill="none"
                    />
                    <path
                        d="M160 40 Q170 50 180 30"
                        stroke="#3B82F6"
                        stroke-width="2"
                        stroke-linecap="round"
                        fill="none"
                    />
                </svg>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'input' %}">Predictor</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <article>
            <h2>AI-powered Diagnostic Assistance For Medical Professionals</h2>
            <p>Choose Input Method:</p>
            <div>
                <form action="{% url 'start-prediction' %}" method="post">
                    {% csrf_token %}
                    <input
                        type="submit"
                        name="prediction"
                        value="Manual Input"
                    />
                </form>
                <form action="{% url 'file' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="signup" value="File Upload" />
                </form>
            </div>
        </article>
    </body>
</html>
