{% extends 'base_layout.html' %} {% load accounts_extras %} {% block content %}
<article>
    <h2>AI-powered Diagnostic Assistance For Medical Professionals</h2>
    <p>Choose Input Method:</p>
    <div>
        <form action="{% url 'start-prediction' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="prediction" value="Manual Input" />
        </form>
        <form action="{% url 'file' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="signup" value="File Upload" />
        </form>
    </div>
</article>
{% endblock %}
